<p>
    <a href="/products">Обратно к товарам</a>
</p>
<h1>Это страница одного продукта</h1>
<li class="grid__item">
    <article class="product">
        <img class="product__image" src="{{product.image}}" alt="{{product.name}}" />
        <h2 class="product__name">{{product.name}}</h2>
        <p class="product__price">Price: {{product.price}} credits</p>
        <button type="button" class="button product__button" aria-label="Add to cart">
        <svg class="button__icon" width="20" height="20">
            <use href="#cart"></use>
        </svg>
        </button>
    </article>
</li>